*{
    box-sizing: border-box;
}
h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    width: 90%;
    margin: 35px;
    padding: 5px;
}
.header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 5px;
    width: 25%;
    text-align: center;
    border: black solid;
    border-width: 2px;
    display: block;
    float: right;
    clear: left;
    position: relative;
    left: 12px;
    bottom: 12px;
    background-color: palevioletred;
}
div{
    font-family: 'Courier New', Courier, monospace;
    width: 90%;
    height: 170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 5px;
    border: solid black;
    background-color: grey;
    overflow: hidden;
}
.para{
    margin-top: 25px;
    margin-bottom: 5px;
}
#Beef{
    background-color: red;
}
#Sushi{
    background-color: yellow;
}


@media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;
      border: 3px solid black;
      margin: 5px;
    }
    .col-lg-1 {
      width: 8.33%;
    }
    .col-lg-2 {
      width: 16.66%;
    }
    .col-lg-3 {
      width: 25%;
    }
    .col-lg-4 {
      width: 31.33%;
    }
    .col-lg-5 {
      width: 41.66%;
    }
    .col-lg-6 {
      width: 50%;
    }
  }
  @media (min-width: 767px) and (max-width: 991px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;
      border: 3px solid black;
      margin: 4px;
    }
    .col-md-4 {
      width: 33.33%;
    }
    .col-md-5 {
      width: 41.66%;
    }
    .col-md-6 {
      width: 47.95%;
    }
    .col-md-12 {
      width: 97%;
    }
  }
  